/*
main-color: #fcf9e6;
main-color-light: #fff3ce;
accent-bright: #a62b2b;
grey: #494949;
*/

.inputArea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  padding: 1rem;
  margin: 0;
  font-family: "Gowun Batang", serif;
  color: #494949;
  background-color: #fff3ce;
  overflow-y: scroll;
}
