@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

/*
main-color: #fcf9e6;
main-color-light: #fff3ce;
accent-bright: #a62b2b;
grey: #494949;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.content-box {
  width: 100%;
  height: 100%;
}

html {
  height: fit-content;
}

ul,
ol {
  padding: 1rem;
}

li {
  list-style-position: inside;
}

body {
  background-color: #fcf9e6;
}

p {
  margin: 0.5rem;
  font-family: "Gowun Batang", serif;
  color: #494949;
}

pre,
code,
blockquote {
  background-color: #fcf9e6;
  width: fit-content;
}
blockquote {
  margin-left: 2rem;
}

blockquote {
  border-left: 5px solid #a62b2b;
}

table {
  display: inline-block;
  table-layout: fixed;
  width: max-content;
  border: 1px solid #494949;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  padding: 0.5rem;
  border: 1px solid #494949;
}

img {
  width: 100%;
}

.bigger-window {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2.5rem 1fr;
  grid-template-areas:
    "title"
    "content";
  border: 2px solid #494949;
  box-shadow: 0px 0px 10px 1px #494949;
  border-radius: 6px;
  margin: 5% auto;
  width: 70vw;
  height: 90vh;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf9e6;
  border-top: 2px solid #a62b2b;
  width: 100%;
  height: 1.5rem;
}

.footer .bukulele-logo {
  margin: 1px;
  height: 80%;
  width: auto;
}
.footer p {
  font-size: 0.8rem;
  color: #a62b2b;
}
.footer a {
  height: 100%;
}
